<footer>
  <div class="footer">
    <div class="foot__inner">
      <i class="fab fa-facebook-square"></i>
    </div>
    <div class="foot__inner">
      <i class="fab fa-instagram"></i>
    </div>
    <div class="foot__inner">
      <i class="fab fa-google"></i>
    </div>
  </div>
</footer>