<nav>
  <div class="navbar">
    <i class="fas fa-campground"></i>
    <h1>모두의캠프</h1>
    <div class="navbar__list">
      <a href="/campgrounds">Home</a>
      <a href="/campgrounds">Camp</a>
      <a href="/campgrounds/new">New Camp</a>
    </div>
  </div>
</nav>

