<nav>
  <div class="navbar">
    <div class="navbar__left">
      <i class="fas fa-campground" class="navbar__i"></i>
      <h1 class="navbar__camp">모두의캠프</h1>
      <div class="navbar__list">
        <a href="/campgrounds">Home</a>
        <a href="/campgrounds">Camp</a>
        <a href="/campgrounds/new">New Camp</a>
      </div>
    </div>
    <div class="navbar__right">
      <% if(!currentUser) {%>
      <a href="/login">login</a>
      <a href="/register">register</a>
      <% } else { %>
      <a href="/logout">logout</a>
      <% } %>
    </div>
  </div>
</nav>

