<div class="home__intro scroll-spy">
  <div class="intro__box">
    <div class="intro__img">
      <div class="img__img1"></div>
      <div class="img__img2"></div>
    </div>
    <div class="intro__introduce">
      <p>찬캠프에 오신것을 환영합니다.</p>
      <p>저희는 최고의 캠핑장들을 소개시켜줌으로써</p>
      <p>사람들에게 지친 일상의 회복과 여유를 가져다 주기 위해 노력합니다.</p>
    </div>
  </div>
</div>