<div class="home__intro2">
  <div class="intro2__box scroll-spy">
    <div class="intro2__left">
      <h1>Take <br>YOUR <br>CAMP</h1>
      <p>다양한 사진들을 구경하고 캠핑장을 골라보세요</p>
      <a href="javascript:void(0)">구경하기</a>
    </div>
    <div class="intro2__right">
      <div>
        <img src="/HomePeople.jpg" alt="#">
      </div>
      <div>
        <img src="/HomePeople2.jpg" alt="#">
      </div>
      <div>
        <img src="/HomePeople3.jpg" alt="#">
      </div>
    </div>
  </div>
</div>