<div class="home__intro3">
  <div class="intro3__container">
    <div class="panel active">
      <h3>Explore The Sight</h3>
      <a href="/campgrounds/tagcamp/tagdetail?page=sight">보러가기</a>
    </div>
    <div class="panel">
      <h3>Wild River</h3>
      <a href="/campgrounds/tagcamp/tagdetail?page=river">보러가기</a>
    </div>
    <div class="panel panelfirst">
      <h3>Sunny Beach</h3>
      <a href="/campgrounds/tagcamp/tagdetail?page=ocean">보러가기</a>
    </div>
    <div class="panel">
      <h3>Hotel on Winter</h3>
      <a href="/campgrounds/tagcamp/tagdetail?page=hotel">보러가기</a>
    </div>
    <div class="panel">
      <h3>Mountain View</h3>
      <a href="/campgrounds/tagcamp/tagdetail?page=mountain">보러가기</a>
    </div>
  </div>
</div>