<div class="home__recommend">
  <div class="recommend__center">
    <div class="center__icon">
      <i class="fas fa-campground" class="navbar__i"></i>
    </div>
    <div class="center__text">
      <div class="text__top">
        <div class="top__h1">
          <h1>찬캠프만의 특별한 혜택</h1>
        </div>
        <div class="top__intro">
          <div class="intro__inner">
            <p><span>찬캠프 회원이세요?</span> 로그인을 통해 혜택을 확인하세요.</p>
            <p><span>찬캠프 회원이 아니세요?</span> 가입을 통해 혜택을 확인하세요.</p>
          </div>
          <div class="intro__button">
            <a class="button__1" href="javascript:void(0)">회원가입</a>
            <a class="button__2" href="javascript:void(0)">로그인</a>
          </div>
        </div>
      </div>
      <div class="text__bottom">
        <div class="bottom__p">
          <p>회원 가입 후, 찬 캠프의 e-Gift Card 를 확인해보세요.</p>
        </div>
        <div class="bottom__button"><a href="javascript:void(0)">e-Gift Card 확인하기</a></div>
      </div>
    </div>
  </div>
</div>