<% layout('layouts/common.ejs') %>

<div class="errerPage">
  <h1>This is Errer Page</h1>
  <h2><%= err.message %></h2>
  <% if (process.env.NODE_ENV !== "production") { %>
    <p><%= err.stack %></p>
  <% } %>
</div>