<%- include('partials/navbar') %>

  <form action="/newuser" method="post">
    <label for="username">유저이름</label>
    <input type="text" name="username" placeholder="유저이름" id="username">
    <label for="useremail">이메일</label>
    <input type="email" name="email" id="email">
    <button>등록</button>
  </form>

</body>
</html>