<%- include('partials/navbar') %>

  <ul>
    <% for(let user of users) {%>
      <li><%= user.username %></li>
      <li><%= user.email %></li>
      <li><a href="/userComments/<%= user.id %>">디테일</a></li>
      <hr>
    <% } %>
  </ul>

  <a href="./newUser">유저정보추가하기</a>

</body>
</html>