/* show */
/* showPage-left */

.showPage {
  display: flex;
  text-align: center;
  justify-content: center;
}

.showPage__left {
  max-width: 500px;
  padding-top: 30px;
}

.showPage__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.showPage__left h1,
.showPage__left h2,
.showPage__left h3,
.showPage__left p {
  margin-top: 10px;
}

.showPage__left h1 {
  font-size: 30px;
}

.showPage__left h2 {
  font-size: 20px;
}

.showPage__left h3 {
  font-size: 20px;
}

.showPage__left p {
  padding: 10px;
  border: 2px solid #35343B;
  border-radius: 10px;
  max-width: 600px;
}

.showPage__button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.button-24,
.button-25 {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-25:hover,
.button-24:active,
.button-25:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
}

.button-24:active,
.button-25:active {
  opacity: .5;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;

}

.button-25 {
  background: #42a4ff;
  border: 1px solid #42a4ff;
}

/* showPage-right */

.show__right {
  width: 620px;
}

.show__right h2 {
  margin-top: 40px;
  font-size: 32px;
}

.show__right .review__form .form__first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 24px;
}

.show__right .review__form .form__second textarea{
  font-size: 20px;
  font-weight: 400;
  width: 370px;
  height: 70px;
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.review__result {
  height: 400px;
  overflow-y: scroll;
}

.review__result div {
  position: relative;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #35343B;
}

.review__result div p:nth-child(2) {
  margin-top: 10px;
}

.review__result button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px;
}

/* edit */

.editPage {
  display: flex;
  justify-content: center;
  max-width: 1090px;
  margin: 0 auto;
}

.editPage .edit__form .edit__img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url('/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__edit input {
  position: relative;
  outline: none;
  border:none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  display:block;
  text-align: center;
}

.form__edit input:nth-child(1) {
  width: 700px;
}

.form__edit .input__underline {
  width: 250px;
  height: 1px;
  background-color: #35343B;
}

.form__edit textarea {
  margin-top: 10px;
  font-size: 20px;
  width: 400px;
  height: 150px;
  border-radius: 10px;
}

.form__edit button {
  display: block;
  margin-top: 20px;
}


