.campground {
  max-width: 1920px;
  margin: 0 auto;
}

.campground .campground__map {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}





/* campground__commend */

.campground__commend {
  max-width: 2080px;
  margin: 0 auto;
  background: #f0f1f5;
}

.campground__commend .commend__intro {
  text-align: center;
  padding: 30px 0px 40px;
}

.campground__commend .commend__intro h1 {
  font-size: 30px;
  font-weight: 600;
}

.campground__commend .commend__intro p {
  margin-top: 20px;
}

.campground__commend .commend__inner {
  display: flex;
  justify-content: center
}

.campground__commend .commend__inner .inner__common {
  margin: 0 15px 50px;
}

.campground__commend .commend__inner .inner__common .common__href a {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: antiquewhite;
  margin-bottom: 30px;
}

.campground__commend .commend__inner .inner__common .common__intro {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  background-color: white;
}

.campground__commend .commend__inner .inner__common .common__intro h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  color: orange;
  font-weight: 400;
}

.campground__commend .commend__inner .inner__common .common__intro p {
  padding: 0 10px;
  color: gray;
}

.campground__commend .commend__inner .inner__common .common__intro .intro__form {
  width: 200px;
  display: flex;
  justify-content: center;
}

.campground__commend .commend__inner .inner__common .common__intro button {
  margin: 20px 0px;
  border: none;
  outline: none;
  background-color: #004D91;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}

.campground__commend .commend__inner .inner__common .common__intro .intro__line {
  display: flex;
  padding: .1px;
  width: 180px;
  margin: 15px auto;
  background-color: gray;
}





/* campground__tag */

.campground__tag {
  width: 1080px;
  margin: 0 auto;
}

.campground__tag h1 {
  margin: 30px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.campground__tag .tag__Sharp span {
  font-size: 15px;
  padding: 10px 10px;
  margin: 10px;
  display: inline-block;
  background-color: #F2F2F2;
  cursor: pointer;
}

.campground__tag form {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

.campground__tag form button {
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #848484;
}

.campground__tag .tag__Sharp .tag__toggle {
  background-color: orange;
}




/* campground__swiper */

.campground__swiper {
  background-image: url(/river.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.campground__swiper h1 {
  margin:50px 0px;
  text-align: center;
  font-size: 40px;
  color: black;
}

.campground__swiper .swiper__button {
  cursor: pointer;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
}

.campground__swiper .swiper__button div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.campground__swiper p {
  padding-bottom: 100px;
  text-align: center;
  color: black;
}

.campground__swiper .swiper {
  width: 940px;
  height: 400px;
}

.campground__swiper .swiper .swiper-wrapper div,
.campground__swiper .swiper .swiper-wrapper div a {
  width: 300px;
  height: 300px;
}

.campground__swiper .swiper .swiper-wrapper div a {
  display: block;
  background-color: #848484;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}


.campground__div {
  width: 100%;
  height: 30px;
  background-color: #EFF0F4;
} 


/* campground__inner */

.campground .campground__inner {
  margin-top: 50px;
  height: 2000px;
}

.campground .campground__inner p {
  font-size: 30px;
}

.campground .campground__inner p span {
  color: orange;
}

.campground .campground__inner .campground__intro {
  display: flex;
  margin-top: 30px;
  border: 1px solid gray;
}

.campground .campground__inner .campground__intro img {
  padding-right: 20px;
  border-right: 1px solid gray;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.campground .campground__inner .campground__intro .intro__introList li a {
  font-size: 40px;
}

.campground .campground__inner .campground__intro .intro__introList li:nth-child(1) {
  margin: 10px;
}