.campground {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.campground .campground__map {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}





/* campground__commend */

.campground__commend {
  max-width: 2080px;
  margin: 0 auto;
  background: #f0f1f5;
}

.campground__commend .commend__intro {
  text-align: center;
  padding: 30px 0px 40px;
}

.campground__commend .commend__intro h1 {
  font-size: 30px;
  font-weight: 600;
}

.campground__commend .commend__intro p {
  margin-top: 20px;
}

.campground__commend .commend__inner {
  display: flex;
  justify-content: center
}

.campground__commend .commend__inner .inner__common {
  margin: 0 15px 50px;
}

.campground__commend .commend__inner .inner__common .common__href a {
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 30px;
}

.campground__commend .commend__inner .inner__common .common__href img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.campground__commend .commend__inner .inner__common .common__href a i {
  position: absolute;
}

.campground__commend .commend__inner .inner__common .common__intro {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: 150px;
  background-color: white;
}

.campground__commend .commend__inner .inner__common .common__intro h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  color: orange;
  font-weight: 400;
}

.campground__commend .commend__inner .inner__common .common__intro p {
  padding: 0 10px;
  color: gray;
}

.campground__commend .commend__inner .inner__common .intro__form {
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;

}

.campground__commend .commend__inner .inner__common button {
  margin: 20px 0px; 
  border: none;
  outline: none;
  background-color: #004D91;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}

.campground__commend .commend__inner .inner__common .common__intro .intro__line {
  display: flex;
  padding: .1px;
  width: 180px;
  margin: 15px auto;
  background-color: gray;
}





/* campground__tag */

.campground__tag {
  width: 1080px;
  margin: 0 auto;
}

.campground__tag h1 {
  margin: 30px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.campground__tag .tag__Sharp span {
  font-size: 15px;
  padding: 10px 10px;
  margin: 10px;
  display: inline-block;
  background-color: #F2F2F2;
  cursor: pointer;
}

.campground__tag form {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

.campground__tag form button {
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #848484;
}

.campground__tag .tag__Sharp .tag__toggle {
  background-color: orange;
}




/* campground__swiper */

.campground__swiper {
  background-image: url(/river.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.campground__swiper h1 {
  margin:50px 0px;
  text-align: center;
  font-size: 40px;
  color: black;
}

.campground__swiper .swiper__button {
  cursor: pointer;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
}

.campground__swiper .swiper__button div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.campground__swiper p {
  padding-bottom: 100px;
  text-align: center;
  color: black;
}

.campground__swiper .swiper {
  width: 940px;
  height: 400px;
}

.campground__swiper .swiper .swiper-wrapper div,
.campground__swiper .swiper .swiper-wrapper div a {
  width: 300px;
  height: 270px;
  
}

.campground__swiper .swiper .swiper-wrapper div a {
  display: block;
}

.campground__swiper .swiper .swiper-wrapper div a img {
  width: 100%;
  height: 100%;
}

.campground__swiper .swiper .swiper-wrapper div a div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba( 0, 0, 0, 0.5 );
}

.campground__swiper .swiper .swiper-wrapper div a div h1 {
  color: white;
  font-size: 20px;
  margin: 0;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}


.campground__div {
  width: 100%;
  height: 30px;
  background-color: #EFF0F4;
} 







/* campground__inner */

.campground .campground__inner {
  width: 1080px;
  margin: 50px auto 0px;
  max-height: 2600px;
}

.campground .campground__inner p {
  margin: 30px 0px;
  font-size: 30px;
}

.campground .campground__inner .campground__navbar {
  background-color: #F4F4F4;
  border-top: 1px solid #dbdbdb;
  border-bottom: 2px solid #000000;
  padding: 15px 20px 15px 0;
}

.campground .campground__inner .campground__navbar input {
  padding: 5px 10px;
  outline: none;
  margin-left: 30px;
  border: 1px solid #626262;
}

.campground .campground__inner p span {
  color: orange;
}

.campground .campground__inner .campground__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8fcfe;
  padding-bottom: 45px;
}

.campground .campground__inner .campground__intro {
  width: 1000px;
  background-color: white;
  display: flex;
  margin-top: 30px;
  border: 1px solid gray;
}

.campground .campground__inner .campground__intro img {
  padding: 30px;
  border-right: 1px solid gray;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.campground .campground__inner .campground__intro .intro__introList {
  margin-left: 30px;
}

.campground .campground__inner .campground__intro .intro__introList .list__review,
.campground .campground__inner .campground__intro .intro__introList .list__great,
.campground .campground__inner .campground__intro .intro__introList .list__best {
  display: inline-block;
  padding: 8px;
  font-size: 12px;
  color: white;
  text-align: center;
}

.campground .campground__inner .campground__intro .intro__introList .list__review {
  background-color: #D6394C;
}

.campground .campground__inner .campground__intro .intro__introList .list__great {
  background-color: #444444;
}

.campground .campground__inner .campground__intro .intro__introList .list__best {
  margin-left: 15px;
  background-color: #547AC0;
}

.campground .campground__inner .campground__intro .intro__introList li a {
  font-size: 21px;
  color: #626262;
}

.campground .campground__inner .campground__intro .intro__introList .list__briefIntroduction {
  max-width: 550px;
  margin: 30px 0px;
  font-size: 18px;
  color: #626262;
}

.campground .campground__inner .campground__intro .intro__introList .list__owner__price {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.campground .campground__inner .campground__intro .intro__introList .list__owner__price li {
  margin-left: 30px;
}

.campground .campground__inner .campground__intro .intro__introList .list__function {
  width: 550px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #e8e8e8;
}

.campground .campground__inner .campground__intro .intro__introList .list__function div {
  text-align: center;
  margin-left: 30px;
}

.campground .campground__inner .campground__intro .intro__introList .list__function div i {
  font-size: 30px;
  padding-bottom: 10px;
}

.campground .campground__inner .campground__intro .intro__introList .list__function div p {
  font-size: 15px;
  color: #626262;
}

.campground .campground__inner .campground__intro .intro__introList li:nth-child(1) {
  margin: 10px;
}