/* 공통 부분 */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav {
  background-color: #35343B;
}

footer {
  margin-top: auto;
  background-color: #35343B;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000; 
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  font-size: 22px;
  font-family: 'Jua', sans-serif;
  transition: all 1s;
}

.navbar .navbar__left {
  display: flex;
}

.navbar .navbar__left .navbar__main h1 {
  display: inline-block;
  padding: 0px 15px 0px 5px;
}

.navbar .navbar__left .navbar__list a,
.navbar .navbar__right a {
  padding: 10px 15px;
}

.fas {
  color: black;
}

.navbar .navbar__camp {
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
} 


.navbar .navbar__list a:hover,
.navbar .navbar__right a:hover
{
  border-bottom: 2px solid #35343B;
}

.navbar.fixed {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  .navbar .navbar__left {
    display: flex;
    flex-direction: column;
  }

  .navbar .navbar__left .navbar__main {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .navbar .navbar__right .right__a {
    display: flex;
    margin-top: 5px;
  }
}

/* footer */

.footer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/* button */

/* button-87 */

.button-87 {
  margin: 10px 15px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* button-24, 25 */


.button-24,
.button-25 {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-25:hover,
.button-24:active,
.button-25:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
}

.button-24:active,
.button-25:active {
  opacity: .5;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;

}

.button-25 {
  background: #42a4ff;
  border: 1px solid #42a4ff;
}
