/* 공통 부분 */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav {
  background-color: #35343B;
}

footer {
  margin-top: auto;
  background-color: #35343B;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1000; 
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  font-size: 40px;
  font-family: 'Dongle', sans-serif;
  transition: all 1s;
}

.navbar .navbar__left {
  display: flex;
}

.navbar h1 {
  padding-left: 15px;
}

.fas {
  color: black;
}

.navbar .navbar__camp {
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
} 

.navbar .navbar__list {
  padding-left: 50px;
}

.navbar .navbar__list a {
  padding-left: 15px;
  transition: all .3s;
}

.navbar .navbar__right a {
  padding-left: 15px;
}

.navbar .navbar__list a:hover,
.navbar .navbar__right a:hover
{
  color: aliceblue;
}

.navbar.fixed {
  background-color: rgba(255, 255, 255, 0.5);
}

/* footer */

.footer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}