@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

h1,p {
  color: black;
}

.home__top .top__img {
  max-width: 1920px;
  height: 800px;
  margin: 0 auto;
  background: url('/HomeImg.jpg') no-repeat center/cover;
  font-family: 'Qwitcher Grypen', cursive;
}

.home__top .top__img h1 {
  position: relative;
  top: 130px;
  opacity: 0;
  font-size: 100px;
  text-align: center;
  color: white;
}