@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/* common */

h1,p {
  color: white;
}

/* home__donation */
.home .home__badgeEl {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  right: 30px;
  top: 130px;
  background: url('/woodwing.png') no-repeat top/cover;
  background-color: rgb(110, 179, 119);
  border-radius: 20px;
  font-family: 'Black Han Sans', sans-serif;
  z-index: 1;
}

.home .home__badgeEl p {
  color: black;
}

/* HomeTop */

.home__top .top__img {
  max-width: 1920px;
  height: 800px;
  margin: 0 auto;
  background: url('/HomeImg.jpg') no-repeat center/cover;
  font-family: 'Qwitcher Grypen', cursive;
}

.home__top .top__img h1 {
  position: relative;
  top: 130px;
  opacity: 0;
  font-size: 100px;
  text-align: center;
  color: white;
}


/* HomeLoginRecommend */

.home__recommend {
  background-color: #1E3932;
}

.home__recommend .recommend__center {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}

.home__recommend .recommend__center .center__icon {
  margin-right: 30px;
  padding: 25px;
  background-color: #2c5349;
  border-radius: 100%;
}

.home__recommend .recommend__center .center__icon i {
  font-size: 40px;
  color: white;
}

.home__recommend .recommend__center .center__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home__recommend .recommend__center .center__text .text__top {
  border-bottom: 1px solid #4b615b;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.home__recommend .recommend__center .center__text .text__top .top__h1 {
  margin-bottom: 20px;
}

.home__recommend .recommend__center .center__text .text__top .top__h1 h1 {
  font-size: 25px;
  color: white;
}

.home__recommend .recommend__center .center__text .text__top .top__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__inner p {
  padding-bottom: 5px;
  color: white;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__inner span {
  font-size: 20px;
  font-weight: 600;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__button a {
  color: white;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__button {
  display: flex;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__button .button__1,
.home__recommend .recommend__center .center__text .text__top .top__intro .intro__button .button__2 {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__button .button__1 {
  background-color: #00704A;
  margin-right: 15px;
}

.home__recommend .recommend__center .center__text .text__top .top__intro .intro__button .button__2 {
  border: 2px solid white;
}


.home__recommend .recommend__center .center__text .text__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px;
}

.home__recommend .recommend__center .center__text .text__bottom .bottom__p p {
  color: white;
}

.home__recommend .recommend__center .center__text .text__bottom .bottom__button a {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
}

/* homeIntro */

.home__intro {
  height: 600px;
  background: url('/HomeImg2.jpg') no-repeat center;
  background-attachment: fixed;
}

.home__intro .intro__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}


.home__intro .intro__box .intro__img {
  position: relative;
  width: 400px;
  height: 400px;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 1s;
}

.home__intro.scroll-spy.show .intro__box .intro__img {
  transform: translateX(0px);
  opacity: 1;
}

.home__intro .intro__box .intro__img .img__img1,
.home__intro .intro__box .intro__img .img__img2 {
  position: absolute;
  border-radius: 100%;
}

.home__intro .intro__box .intro__img .img__img1 {
  top: 45px;
  left: 65px;
  width: 150px;
  height: 150px;
  background: url('/HomeImg4.jpg') no-repeat center/cover;
}
.home__intro .intro__box .intro__img .img__img2 {
  bottom: 10px;
  right: 10px;
  width: 250px;
  height: 250px;
  background: url('/HomeImg3.jpg') no-repeat center/cover;
}

.home__intro .intro__introduce {
  position: relative;
  background-color: #2c5349;
  opacity: 0;
  padding: 20px;
  border-radius: 15px;
  transform: translateX(-300px);
  transition: all 1s;
}

.show .intro__box .intro__introduce {
  transform: translateX(0px);
  opacity: 1;
}

.home__intro .intro__introduce p {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* home__intro2 */

.home__intro2 {
  background: url('/HomeImg6.jpg') center/cover;
  height: 600px; 
}

.home__intro2 .intro2__box {
  display: flex;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.home__intro2 .intro2__box .intro2__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-300px);
  transition: all 1s;
  opacity: 0;
}

.home__intro2 .intro2__box .intro2__left h1 {
  font-size: 70px;
}

.home__intro2 .intro2__box .intro2__left p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  color: black;
  padding-bottom: 5px;
  border-bottom: 2px solid #00704A;
}

.home__intro2 .intro2__box .intro2__left a {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  background-color: #00704A;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.home__intro2 .intro2__box .intro2__right {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.home__intro2 .intro2__box .intro2__right div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: white;
}

.home__intro2 .intro2__box .intro2__right div img {
  width: 270px;
  height: 370px;
  object-fit: cover;
}

.home__intro2 .intro2__box .intro2__right div:nth-child(1),
.home__intro2 .intro2__box .intro2__right div:nth-child(2),
.home__intro2 .intro2__box .intro2__right div:nth-child(3) {
  transform: translateY(300px);
  transition: all 1.5s;
  opacity: 0;
}  

.home__intro2 .intro2__box .intro2__right div:nth-child(1) {
  top: 40px;
  left: 100px;
}

.home__intro2 .intro2__box .intro2__right div:nth-child(2) {
  top: 50px;
  left: 400px;
}

.home__intro2 .intro2__box .intro2__right div:nth-child(3) {
  top: 150px;
  left: 600px;
}

.intro2__box.scroll-spy.show .intro2__right div:nth-child(1),
.intro2__box.scroll-spy.show .intro2__right div:nth-child(2),
.intro2__box.scroll-spy.show .intro2__right div:nth-child(3) {
  transform: translateX(0px);
  opacity: 1;
}

.intro2__box.scroll-spy.show .intro2__right div:nth-child(1) {
  transform: rotate(-25deg);}

.intro2__box.scroll-spy.show .intro2__right div:nth-child(2) {
  transform: rotate(-5deg);
}

.intro2__box.scroll-spy.show .intro2__right div:nth-child(3) {
  transform: rotate(5deg);
}

.intro2__box.scroll-spy.show .intro2__left {
  transform: translateX(0px);
  opacity: 1;
}

@media screen and (max-width: 1450px) {
  .home__intro2 .intro2__box.scroll-spy.show .intro2__right div:nth-child(3),
  .home__intro2 .intro2__box.scroll-spy .intro2__right div:nth-child(3) {
    left: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .home__intro2 .intro2__box.scroll-spy.show .intro2__right div:nth-child(2),
  .home__intro2 .intro2__box.scroll-spy .intro2__right div:nth-child(2) {
    left: 30px;
  }
}

@media screen and (max-width: 950px) {
  .home__intro2 .intro2__box.scroll-spy.show .intro2__right div:nth-child(1),
  .home__intro2 .intro2__box.scroll-spy .intro2__right div:nth-child(1) {
    left: -50px;
  }

  /* HomeLoginRecommend */

  .home__recommend .recommend__center .center__text .text__top .top__intro {
    flex-direction: column;
    align-items: start;
  }

  .home__recommend .recommend__center .center__text .text__top .top__intro .intro__button {
    margin-top: 20px;
  }

  .home__recommend .recommend__center .center__text .text__bottom {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }

  .home__recommend .recommend__center .center__text .text__bottom .bottom__button {
    margin-top: 20px;
  }

  /* homeIntro */

  .home__intro .intro__box {
    flex-direction: column;
  }

  .home__intro .intro__box .intro__introduce {
    display: none;
  }
}

@media screen and (max-width: 805px) {
  .home__intro2 .intro2__box.scroll-spy.show .intro2__right div:nth-child(3),
  .home__intro2 .intro2__box.scroll-spy .intro2__right div:nth-child(3),
  .home__intro2 .intro2__box.scroll-spy.show .intro2__right div:nth-child(2),
  .home__intro2 .intro2__box.scroll-spy .intro2__right div:nth-child(2),
  .home__intro2 .intro2__box.scroll-spy.show .intro2__right div:nth-child(1),
  .home__intro2 .intro2__box.scroll-spy .intro2__right div:nth-child(1) {
    display: none;
  }
}

/* HomeIntro3 */

.home__intro3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  height: 90vh;
}

.home__intro3 .intro3__container {
  display: flex;
  width: 90vw;
}

.home__intro3 .intro3__container .panel {
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: all .7s;
}

.home__intro3 .intro3__container .panel:nth-child(1) {
  background-image: url('/HomeImg7.avif');
}
.home__intro3 .intro3__container .panel:nth-child(2) {
  background-image: url('/HomeImg8.avif');
}
.home__intro3 .intro3__container .panel:nth-child(3) {
  background-image: url('/HomeImg9.avif');
}
.home__intro3 .intro3__container .panel:nth-child(4) {
  background-image: url('/HomeImg10.avif');
}
.home__intro3 .intro3__container .panel:nth-child(5) {
  background-image: url('/HomeImg11.avif');
}

.home__intro3 .intro3__container .panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 70px;
  left: 30px;
  margin: 0;
  opacity: 0;
}

.home__intro3 .intro3__container .panel a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 30px;
  padding: 10px 20px;
  border: 1px solid white;
  opacity: 0;
  color: white;
}

.home__intro3 .intro3__container .panel.active {
  flex: 5;
}

.home__intro3 .intro3__container .panel.active a {
  opacity: 1;
  transition: opacity .3s;
}

.home__intro3 .intro3__container .panel.active h3 {
  opacity: 1;
  transition: opacity .3s;
}

@media (max-width: 900px) {
  .home__intro3 .intro3__container .panel:nth-of-type(4),
  .home__intro3 .intro3__container .panel:nth-of-type(5) {
    display: none;
  }
}

/* homeIntro4 */

.home__intro4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  height: 600px;
  margin: 0 auto;
  background-color: #faffea;
}

.home__intro4 .intro4__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .7s;
}

.home__intro4 .intro4__inner.scroll-spy.show {
  opacity: 1;
}

.home__intro4 h1 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.home__intro4 h2 {
  font-size: 30px;
  color: black
}

.home__intro4 p {
  background-image: url('/HomeImg11.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue',helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1200px) {
  .home__intro4 p {
    font-size: 150px !important;
  }
}

@media screen and (max-width: 900px) {
  .home__intro4 p {
    font-size: 80px !important;
  }
}