@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@800&display=swap');

label {
  color: white;
}

.newform {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 100px;
  background: url('/HomeImg4.jpg') no-repeat center/cover;
}

.newform .newform__inner {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.newform .newform__inner h1 {
  padding-bottom: 15px;
  color: white;
  border-bottom: 1px solid white;
  font-size: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}

.newform .newform__inner .newform__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newform .newform__inner .newform__form div input {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

/* title and location */
.newform .newform__inner .newform__form .form__titlelocation {
  display: flex;
  gap: 10px;
}

.newform .newform__inner .newform__form label {
  margin: 10px 0px;
}


.newform .newform__inner .newform__form .form__selectoption select {
  width: 200px;
  padding: .8em .5em;
  border: 1px solid #dddddd;
  color: black;
  font-family: inherit;
  background: url('/화살표.jpg') no-repeat 95% 50%;
  background-color: #fff;
  border-radius: 0px;
  appearance: none;
}

.newform .newform__inner .newform__form .form__selectoption select::-ms-expand {
  display: none;
}

.newform .newform__inner .newform__form .form__selectoption {
  width: 320px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.newform .newform__inner .newform__form .form__textarea {
  display: flex;
  flex-direction: column;
}

.newform .newform__inner .newform__form .form__textarea textarea {
  width: 400px;
  height: 150px;
  font-size: 17px;
}

.newform .newform__inner .newform__form .form__titlelocation input {
  width: 180px;
}

.newform .newform__inner .newform__form .form__titlelocation label {
  display: block;
  margin: 10px 0px;
}



/* file sector */

.newform .newform__inner .newform__form .filebox {
  margin-top: 10px;
}

.newform .newform__inner .newform__form .filebox .upload-name {
  width: 200px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  border-radius: 10px;
  color: #999999;
}


.newform .newform__inner .newform__form .filebox label {
  height: 20px;
  margin-left: 10px;
  padding: 10px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
}

.newform .newform__inner .newform__form .filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}



/* edit */

.editPage {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  background-color: cadetblue;
}
