/* show */

.showPage {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}


/* showPage__top */

.showPage__top {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 400px;
  background-image: url('/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 15px solid #EFF0F4;
}

.showPage__top .top__inner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 30px;
}

.showPage__top .top__inner h1 {
  color: white;
  font-size: 40px;
}

.showPage__top .top__inner h2 {
  padding: 20px 0px;
  font-size: 20px;
  border-bottom: 1px solid white;
  color: white;
}


.showPage__top .top__inner .top__tag {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.showPage__top .top__inner .top__tag .tag__tag {
  color: white;
  border: 1px solid white;
  margin-right: 20px;
  padding: 5px 10px;
}

.showPage__top .top__inner .top__tag li {
  padding-right: 30px;
  color: white;
}

/* showPage__center */

.showPage__center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.showPage__center .center__left {
  padding: 40px;
}

.showPage__center .center__left .carousel-container {
  display: flex;
  overflow: hidden;
  width: 500px; 
  height: 400px;
}

.showPage__center .center__left .carousel-container .carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s;
}

.showPage__center .center__left .carousel-container .carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showPage__center .center__left .carousel-button {
  display: flex;
  justify-content: space-between;
}

.showPage__center .center__left .showPage__button {
  display: flex;
  justify-content: center;
  gap: 10px;
}


/* showPage__center  center__right */

.showPage__center .center__right {
  padding: 40px;
}

.showPage__center .center__right .right__intro {
  display: flex;
  flex-direction: column;
}

.showPage__center .center__right .right__intro .intro__introduce {
  width: 500px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
}

.showPage__center .center__right .right__intro .intro__introduce p {
  width: 150px;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  padding-right: 30px;
}

.showPage__center .center__right .right__intro .intro__introduce:nth-child(1) p {
  border-top: 2px solid #FF4742;
}

.showPage__center .center__right .right__intro .intro__introduce h3 {
  font-size: 15px;
  flex-grow: 1;
  color: #626262;
  line-height: 30px;
  margin: 0;
  padding: 10px;
}

.showPage__center .center__right .right__intro .intro__introduce:nth-child(1) h3 {
  border-top: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  .showPage__center {
    flex-direction: column;
    align-items: center;
  }

}

/* showPage__bottom */


.showPage__bottom .bottom__inner {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  border-top: 20px solid #EFF0F4;
}

.showPage__bottom .bottom__inner .inner__map {
  padding: 30px 100px;
}

.showPage__bottom .bottom__inner .inner__review {
  padding: 30px 100px;
}

.showPage__bottom .bottom__inner .inner__review .show__right h2 {
  font-size: 30px;
}

.showPage__bottom .bottom__inner .inner__review .show__right .review__form .form__first {
  margin-top: 30px;
  font-size: 20px;
}

.showPage__bottom .bottom__inner .inner__review .show__right .review__form .form__first .starability-basic {
  margin-top: 30px;
}

.showPage__bottom .bottom__inner .inner__review .show__right .review__form .form__second textarea {
  width: 440px;
  height: 160px;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
}

.showPage__bottom .bottom__inner .inner__review button {
  margin-top: 10px;
  padding: 10px 20px;
}

@media screen and (max-width: 1200px) {

  .showPage__bottom .bottom__inner .inner__map {
    padding-right: 5px;
  }
  
  .showPage__bottom .bottom__inner .inner__review {
    padding-left: 5px;
  }
}


@media screen and (max-width: 990px) {

  .showPage__bottom .bottom__inner .inner__map {
    display: none;
  }

  .showPage__bottom .bottom__inner .inner__review {
    margin-top: 30px;
    padding: 0;
  }

  .showPage__bottom .bottom__inner .inner__review .show__right h2 {
    text-align: center;
  }

  .showPage__bottom .bottom__inner .inner__review .show__right .form__first {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



.showPage__bottom .bottom__review {
  display: flex;
  justify-content: center;
  max-height: 750px;
  padding: 20px;
  border-top: 1px solid #626262;
}

.showPage__bottom .bottom__review .review__result {
  max-width: 1000px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #626262;
}

.showPage__bottom .bottom__review .review__result::-webkit-scrollbar {
  display: none;
}

.showPage__bottom .bottom__review .review__result div {
  position: relative;
  width: 380px;
  min-height: 100px;
  margin: 27px;
  padding: 30px;
  border: 1px solid #626262;
}

.showPage__bottom .bottom__review .review__result div h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.showPage__bottom .bottom__review .review__result div .result__review {
  width: 270px;
  margin-top: 15px;
}

.showPage__bottom .bottom__review .review__result div button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media screen and (max-width: 1100px) {

  .showPage__bottom .bottom__review .review__result {
    justify-content: center;
  }

  .showPage__bottom .bottom__review .review__result div {
    width: 270px;
  }

  .showPage__bottom .bottom__review .review__result div .result__review {
    width: 200px;
  }
}