/* showpage common */

.button-87 {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* show */


.showPage {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}


/* showPage__top */

.showPage__top {
  position: relative;
  display: block;
  max-width: 100%;
  height: 400px;
  background-image: url('/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 15px solid #EFF0F4;
}

.showPage__top h1 {
  position: absolute;
  color: white;
  top: 90px;
  left: 200px;
}

.showPage__top h2 {
  position: absolute;
  color: white;
  top: 200px;
  left: 200px;
}

.showPage__top .top__line {
  position: absolute;
  width: 1500px;
  height: 1px;
  top: 260px;
  left: 200px;
  background-color: white;
}

.showPage__top .top__tag {
  position: absolute;
  display: flex;
  align-items: center;
  top: 280px;
  left: 200px;
  color: white;
}

.showPage__top .top__tag .tag__tag {
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 15px;
}

.showPage__top .top__tag li {
  margin-left: 30px;
}

.showPage__top .top__tag li:nth-child(1) {
  margin-left: 0px;
}



/* showPage__center */

.showPage__center {
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.showPage__center .center__left {
  padding: 30px;
  margin-right: 90px;
}

.showPage__center .center__left .carousel-container {
  display: flex;
  overflow: hidden;
  width: 500px; 
  height: 400px;
}

.showPage__center .center__left .carousel-container .carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s;
}

.showPage__center .center__left .carousel-container .carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showPage__center .center__left .carousel-button {
  display: flex;
  justify-content: space-between;
}

.showPage__center .center__left .carousel-button button {
  margin: 10px 15px;
  padding: 10px 30px;
}

/* showPage__center  center__right */

.showPage__center .center__right {
  padding: 30px;
}

.showPage__center .center__right .right__intro {
  display: flex;
  flex-direction: column;
}

.showPage__center .center__right .right__intro .intro__introduce {
  width: 500px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
}

.showPage__center .center__right .right__intro .intro__introduce p {
  width: 150px;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  padding-right: 30px;
}

.showPage__center .center__right .right__intro .intro__introduce:nth-child(1) p {
  border-top: 2px solid #FF4742;
}

.showPage__center .center__right .right__intro .intro__introduce h3 {
  font-size: 15px;
  flex-grow: 1;
  color: #626262;
  line-height: 30px;
  margin: 0;
  padding: 10px;
}

.showPage__center .center__right .right__intro .intro__introduce:nth-child(1) h3 {
  border-top: 2px solid #000000;
}


.showPage__button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.button-24,
.button-25 {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-25:hover,
.button-24:active,
.button-25:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
}

.button-24:active,
.button-25:active {
  opacity: .5;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;

}

.button-25 {
  background: #42a4ff;
  border: 1px solid #42a4ff;
}

/* showPage-right */

.show__right {
  width: 620px;
}

.show__right h2 {
  margin-top: 40px;
  font-size: 32px;
}

.show__right .review__form .form__first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 24px;
}

.show__right .review__form .form__second textarea{
  font-size: 20px;
  font-weight: 400;
  width: 370px;
  height: 70px;
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.review__result {
  height: 400px;
  overflow-y: scroll;
}

.review__result div {
  position: relative;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #35343B;
}

.review__result div p:nth-child(2) {
  margin-top: 10px;
}

.review__result button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px;
}

/* edit */

.editPage {
  display: flex;
  justify-content: center;
  max-width: 1090px;
  margin: 0 auto;
}

.editPage .edit__form .edit__img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url('/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__edit input {
  position: relative;
  outline: none;
  border:none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  display:block;
  text-align: center;
}

.form__edit input:nth-child(1) {
  max-width: 700px;
}

.form__edit .input__underline {
  width: 250px;
  height: 1px;
  background-color: #35343B;
}

.form__edit textarea {
  margin-top: 10px;
  font-size: 20px;
  width: 400px;
  height: 150px;
  border-radius: 10px;
}

.form__edit button {
  display: block;
  margin-top: 20px;
}


