<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/tagcamp.css">

<div class="tagcontainer">  

  <div class="tagbox">
    <div id="hexagon">
      <a href="/campgrounds/tagcamp/tagdetail?page=sight">경치</a>
    </div>
    <div id="hexagon">
      <a href="/campgrounds/tagcamp/tagdetail?page=river">강</a>
    </div>
    <div id="hexagon">
      <a href="/campgrounds/tagcamp/tagdetail?page=ocean">바다</a>
    </div>
  </div>

  <div class="tagbox">
    <div id="hexagon">
      <a href="/campgrounds/tagcamp/tagdetail?page=hotel">호텔</a>
    </div>
    <div id="hexagon">
      <a href="/campgrounds/tagcamp/tagdetail?page=mountain">산</a>
    </div>
  </div>
</div>
