<% layout('layouts/common.ejs') %>

<link rel="stylesheet" href="/css/new.css">
<script defer src="/js/new.js"></script>

<div class="newform">
  <div class="newform__inner">

    <h1>새로운 캠프를 등록해 보세요</h1>

    <form class="newform__form" action="/campgrounds" method="POST" enctype="multipart/form-data">

      <div class="form__titlelocation">
        <div class="titlelocation__title">
          <label for="title">캠핑장 이름</label>
          <div>
            <input type="text" id="title" name="campground[title]">
          </div>
        </div>

        <div class="titlelocation__location">
          <label for="city">시,도</label>
          <div>
            <input type="text" id="city" name="campground[city]" placeholder="시,도 를 입력해 주세요.">
          </div>
        </div>
      </div>

      <label for="location">위치</label>
      <div>
        <input type="text" id="location" name="campground[location]">
      </div>

      <div class="filebox">
        <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
        <label class="filename" for="file">파일찾기</label> 
        <input class="form__file" type="file" name="image" id="file" multiple>
      </div>

      <label for="price">가격</label>
      <div>
        <input type="text" id="price" name="campground[price]">
      </div>

      <label for="phoneNumber">연락처</label>
      <div>
        <input type="text" id="phoneNumber" name="campground[phoneNumber]" placeholder="-없이 입력해 주세요.">
      </div>

      <label for="category">카테고리</label>
      <div>
        <input type="text" id="category" name="campground[category]">
      </div>
  
      <div class="form__selectoption">
        <label for="wifi">와이파이</label>
        <select name="campground[wifi]" id="wifi">
          <option value="있음">있음</option>
          <option value="없음">없음</option>
        </select>
      </div>
  
      <div class="form__selectoption">
        <label for="bed">침대</label>
        <select name="campground[bed]" id="bed">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4개이상">4</option>
        </select>
      </div>
  
      <div class="form__selectoption">
        <label for="pet">펫 유무</label>
        <select name="campground[pet]" id="pet">
          <option value="가능">가능</option>
          <option value="불가능">불가능</option>
        </select>
      </div>
  
      <div class="form__selectoption">
        <label for="electricity">전기</label>
        <select name="campground[electricity]" id="electricity">
          <option value="있음">있음</option>
          <option value="없음">없음</option>
        </select>
      </div>
      
      <div class="form__selectoption">
        <label for="sportsFacility">운동시설</label>
        <select id="sportsFacility" name="campground[sportsFacility]">
          <option value="없음" selected>없음</option>
          <option value="축구장">축구장</option>
          <option value="수영장">수영장</option>
          <option value="테니스코트">테니스 코트</option>
          <option value="농구장">농구장</option>
        </select>
      </div>

      <div class="form__checkbox">
        <label for="checkbox1">호텔</label>
        <input type="checkbox" id="checkbox1" name="campground[check]" value="hotel">
  
        <label for="checkbox2">바다</label>
        <input type="checkbox" id="checkbox2" name="campground[check]" value="ocean">
  
        <label for="checkbox3">산</label>
        <input type="checkbox" id="checkbox3" name="campground[check]" value="mountain">

        <label for="checkbox4">강</label>
        <input type="checkbox" id="checkbox4" name="campground[check]" value="river">
  
        <label for="checkbox5">경치</label>
        <input type="checkbox" id="checkbox5" name="campground[check]" value="sight">
      </div>
  
      <div class="form__textarea">
        <label for="description">캠핑장 소개</label>
        <textarea name="campground[description]" id="description" ></textarea>
      </div>
      <button class="button-87" role="button">캠프만들기</button>
    </form>
  </div>
</div>