<% layout('layouts/common.ejs') %>

<div class="newForm">
  <form class="newForm__form" action="/campgrounds" method="POST">
    <div>
      <label for="title">타이틀</label>
      <input type="text" id="title" name="campground[title]">
    </div>
    <div>
      <label for="location">위치</label>
      <input type="text" id="location" name="campground[location]">
    </div>
    <div>
      <label for="image">이미지</label>
      <input type="text" id="image" name="campground[image]">
    </div>
    <div>
      <label for="price">가격</label>
      <input type="text" id="price" name="campground[price]">
    </div>
    <div>
      <label for="description">설명</label>
      <textarea name="campground[description]" id="description" cols="30" rows="10"></textarea>
    </div>
    <button>submit</button>
  </form>
</div>