<% layout('partials/navbar.ejs') %>
<hr>
<form action="/campgrounds" method="POST">
  <input type="text" name="campground[title]">
  <input type="text" name="campground[location]">
  <button>submit</button>
</form>