/* 공통 부분 */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav {
  background-color: #35343B;
}

footer {
  margin-top: auto;
  background-color: #35343B;
}

/* navbar */

.navbar {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  background-color: #35343B;
  font-size: 40px;
  font-family: 'Dongle', sans-serif;
}

.navbar h1 {
  padding-left: 15px;
}

.navbar .navbar__list {
  padding-left: 50px;
}

.navbar .navbar__list a {
  padding-left: 15px;
  transition: all .3s;
}

.navbar .navbar__list a:hover {
  color: aliceblue;
}

/* footer */

.footer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/* new form */

.newForm {
  max-width: 1920px;
  margin: 0 auto;
}

.newForm > h1 {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 40px;
  font-family: 'Dongle', sans-serif;
}

.newForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 600px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 15px;
  background-color: #C7C2C0;
}

.newForm__form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newForm__form input {
  background-image: url('/campLogo.png');
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 30px;
  padding: 10px 40px;
  border: 1px solid #35343B;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
}

.newForm__form label {
  font-size: 40px;
  font-family: 'Dongle', sans-serif;
}

.newForm__form textarea {
  border: 1px solid #35343B;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* show */
/* showPage-left */

.showPage {
  display: flex;
  text-align: center;
  justify-content: center;
}

.showPage__left {
  padding-top: 30px;
}

.showPage__left img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.showPage__left h1,
.showPage__left h2,
.showPage__left h3,
.showPage__left p {
  margin-top: 10px;
}

.showPage__left h1 {
  font-size: 30px;
}

.showPage__left h2 {
  font-size: 20px;
}

.showPage__left h3 {
  font-size: 20px;
}

.showPage__left p {
  padding: 10px;
  border: 2px solid #35343B;
  border-radius: 10px;
  max-width: 600px;
}

.showPage__button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.button-24,
.button-25 {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-25:hover,
.button-24:active,
.button-25:active {
  background-color: initial;
  background-position: 0 0;
  color: black;
}

.button-24:active,
.button-25:active {
  opacity: .5;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;

}

.button-25 {
  background: #42a4ff;
  border: 1px solid #42a4ff;
}

/* showPage-right */

.show__right {
  width: 620px;
}

.show__right h2 {
  margin-top: 40px;
  font-size: 32px;
}

.show__right .review__form .form__first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 24px;
}

.show__right .review__form .form__second textarea{
  font-size: 20px;
  font-weight: 400;
  width: 370px;
  height: 70px;
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

/* edit */

.editPage {
  display: flex;
  justify-content: center;
  max-width: 1090px;
  margin: 0 auto;
}

.editPage .edit__form .edit__img {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url('/mountain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__edit input {
  position: relative;
  outline: none;
  border:none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  display:block;
  text-align: center;
}

.form__edit input:nth-child(1) {
  width: 700px;
}

.form__edit .input__underline {
  width: 250px;
  height: 1px;
  background-color: #35343B;
}

.form__edit textarea {
  margin-top: 10px;
  font-size: 20px;
  width: 400px;
  height: 150px;
  border-radius: 10px;
}

.form__edit button {
  display: block;
  margin-top: 20px;
}


