/* 공통 부분 */

body {
  width: 1080px;
  margin: 0 auto;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
}