/* 공통 부분 */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 1920px;
  margin: 0 auto;
  background-color: aquamarine;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav {
  background-color: #35343B;
}

footer {
  margin-top: auto;
  background-color: #35343B;
}

/* navbar */

.navbar {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  background-color: #35343B;
  font-size: 40px;
  font-family: 'Dongle', sans-serif;
}

.navbar h1 {
  padding-left: 15px;
}

.navbar .navbar__list {
  padding-left: 50px;
}

.navbar .navbar__list a {
  padding-left: 15px;
  transition: all .3s;
}

.navbar .navbar__list a:hover {
  color: aliceblue;
}

/* footer */

.footer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

