<div class="campground__tag">
  <h1>태그로 찾는 나만의 캠핑장</h1>
  <div class="tag__Sharp">
    <span>&#35;&#32;가족</span>
    <span>&#35;&#32;여름</span>
    <span>&#35;&#32;커플</span>
    <span>&#35;&#32;수영장 있는</span>
    <span>&#35;&#32;둘레길</span>
    <span>&#35;&#32;경치가 좋은</span>
    <span>&#35;&#32;겨울</span>
    <span>&#35;&#32;봄</span>
    <span>&#35;&#32;축제</span>
    <span>&#35;&#32;깨끗한</span>
    <span>&#35;&#32;수영장 있는</span>
    <span>&#35;&#32;바다가 보이는</span>
    <span>&#35;&#32;캠핑</span>
    <span>&#35;&#32;친절한</span>
  </div>
  <form action="/campgrounds">
    <button>검색하기</button>
  </form>
</div>