<div class="showPage__top">
  <div class="top__inner">
    <h1><%= campground.title %></h1>
    <h2>동해안에서 가장 아름답다는 장호해변 언덕에 위치한 휴양 캠핑 시설</h2>
    <div class="top__line"></div>
    <div class="top__tag">
      <li class="tag__tag">태그</li>
      <li>&#35;&#32;가족</li>
      <li>&#35;&#32;여름</li>
      <li>&#35;&#32;물놀이</li>
    </div>
  </div>
</div>